/* sets images to have some padding */ 
img {
    padding: 5px;
}

p {
    padding-left: 3px;
}

#images img {
    display: block;
    width: 40%;
    height: auto;
}

#top-rides img {
    width: 30%;
    height:auto;
}

